@use "sass:map";
@import "_flex_mixin.scss";
@mixin rotate($roation: 10deg){
    -ms-transform: rotate();
}

@mixin transform($transform){
    -ms-transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin font-face($font-name, $path,$format, $weight: normal, $style: normal) {
  $formats: ("eot": "embedded-opentype", "ttf": "truetype", "woff": "woff","svg":"svg");
  @font-face {
    font-family: quote($font-name);
    src: url($path+"."+$format) format(map-get($formats, $format));
    font-weight: $weight;
    font-style: $style;
  }
}
