.btn {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    opacity: unset;
    display: inline-block;
    font-size: 2rem;
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 300;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin: 0 1.5rem;
    &:hover {
        color: white!important;
    }
    
    &:focus {
        color: white!important;
    }
}


.btn-primary {
    background-color: $colorPrimary;*
    &:active, &:hover {
        background-color: darken($colorPrimary, 10%);
        
    }
    &:focus{
        box-shadow: 0px 0px 0px 4px $colorSecondary;
    }
}


.btn-secondary {
    background-color: $colorSecondary;
    &:active, &:hover {
        background-color: darken($colorSecondary, 10%);
    }
    &:focus{
        box-shadow: 0px 0px 0px 3px $colorPrimary;
    }
}

.btn:focus{
    width: auto;
}
.btn-round{
    @extend .rounded-pill;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 25px;
}