footer {
    background-color: #f3f3f3;
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    justify-content: space-around;
    font-size: 1rem;
    align-content: space-around;
    text-align: center;
}
footer h3 {
    flex-basis: 100%;
}
.social {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    width: 100%;
}
.socialGit {
    width: 50px;
    height: 50px;
    background-image: url("../images/socials/github.svg");
    transition-duration: $transition-duration;
    &:hover,
    &:focus {
        transition-duration: $transition-duration;
        background-image: url("../images/socials/githubColored.svg");
    }
}
.socialTwitter {
    width: 50px;
    height: 50px;
    background-image: url("../images/socials/twitter.svg");
    transition-duration: $transition-duration;
    &:hover,
    &:focus {
        background-image: url("../images/socials/twitterColored.svg");
        transition-duration: $transition-duration;
    }
}
.socialDiscord {
    width: 50px;
    height: 50px;
    background-image: url("../images/socials/discord.svg");
    transition-duration: $transition-duration;
    &:hover,
    &:focus {
        background-image: url("../images/socials/discordColored.svg");
        transition-duration: $transition-duration;
    }
}
.socialSlack {
    width: 50px;
    height: 50px;
    background-image: url("../images/socials/slack.svg");
    transition-duration: $transition-duration;
    background-size: contain;
    &:hover,
    &:focus {
        transition-duration: $transition-duration;
        background-image: url("../images/socials/slackColored.png");
        background-size: contain;
    }
}
.followUs {
    @include flexbox;
    @include flex-wrap(wrap);
    @include flex-grow(0);
}

.about {
    @include flex-grow(2);
}

.about ul {
    @include flexbox;
    @include flex-flow(column wrap);
    @include justify-content(space-around);
}
.use ul{
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(space-around);
}
.footerlinks {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(center);
}

@media #{$mediumUp} {
    .footerlinks {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-around);
    }
}
@media #{$mediumBetween} {
    footer > div {
        width: 90%;
    }
    .use ul {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-around);
    }
}

@media #{$largeUp} {
    footer {
        @include flexbox;
        @include flex-flow(row nowrap);
        @include justify-content(space-around);
        @include align-content(center);
        background-color: #f3f3f3;
        margin: 0 auto;
        width: 90vw;
    }
}
