header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    background: #F3F3F3;
    z-index: 9;
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
}

#topLogo img{
    width: 15rem;
}

#topLogo{
    flex-grow: 1;
}

#topNav{
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    flex-basis: 100%;
    align-content: center;
}

#hamburger{
    display: flex;
    padding: 10px;
    align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#hamburger img{
    width: 4rem;
    padding: 1rem;
}

.visible{
    display: flex!important;
    transition: cubic-bezier(.27,1.87,.43,-1.44) ,.5s;

}

@media #{$mediumUp}{

    #hamburger{
        display: none;
    }
    #topNav{
        display: flex;
        flex-basis: unset;
        flex-grow: 6;
    }
    #topNav ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

}